<!DOCTYPE HTML>
<html>
	<head>
		<title>Real Estate Price Factors - SMU Bootcamp</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="/" class="logo">Home</a>
				<nav id="nav">
					<a href="process">Process Flow</a>
					<a href="data">Data Details</a>						
					<a href="machine">Machine Learning</a>
					<a href="tableau">Tableau</a>
				    <a href="calculator">Price Prediction</a>
				</nav>
			</div>
		</header>	
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1><b>Real Estate Insights:</b> <span>Home Sales and Price Drivers<br />
					in Collin County, Texas</span></h1>
				</div>
			</section>

		<!-- One -->
			<section id="one">
				<div class="inner">
					<header>
						<h2>Overview</h2>
					</header>
					<p>Welcome to our site! If you are a Realtor, prospective home buyer or prospective home seller, let us help you gain insight into a fair and realistic 
						price on a home in Collin County, TX.  

						We have collected 17 years of home sales from the Multiple Listing Service (MLS) for Collin county to help you better understand long-term marketplace
						trends to current market trends that will impact price and help you think about future.

						If you would like to learn more about a homes potential price feel free to input the homes attributes and features for these five Collin County Cities
						(Frisco, Fairview, Prosper, Plano, McKinney) into our Price Prediction tool.

						<ul class="actions">
							<li><a href="calculator" class="button alt">Price Prediction Tool - Get Started Here</a></li>
						</ul>
					</p>
					<br>
					<blockquote>“It’s going to be good. Affordability will be the theme of 2020, as first-time homebuyers flood the market
						seeking homes priced from $200,000 to $350,000. The price point will be the hottest segment of our market
						and will lead many homebuyers to surrounding counties where homebuilders can buy land for less.” 
						-- James Gaines, Chief Economist at the Texas A&M Real Estate Center
					</blockquote>
					<header>
						<h2>Conclusion</h2>
					</header>
					<p>Make comments here concerning our overall project findings using Machine Learning and Tableau.
					</p>
				</div>
			</section>

		<!-- Two -->
			<section id="two">
				<div class="inner">
					<article>
						<div class="content">
							<header>
								<h4>Price Prediction Tool</h4>
							</header>
							<div class="10u"><span class="image fit"><img src= "images/mortgage-lender.jpg" alt="" /></span></div>
						<!--	<p>Here we will walk you through our project flow.</p> -->
							<ul class="actions">
								<li><a href="calculator" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
					<article>
						<div class="content">
							<header>
								<h4>Process Flow</h4>
							</header>
							<div class="9u"><span class="image fit"><img src= "images/marketing.jpg" alt="" /></span></div>
						<!--	<p>The mastermind behind the magic</p> -->
							<ul class="actions">
								<li><a href="process" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
					<article>
							<div class="content">
								<header>
									<h4>Data Details</h4>
								</header>
								<div class="10u"><span class="image fit"><img src= "images/home-inspection.jpg" alt="" /></span></div>
							<!--	<p>The mastermind behind the magic</p> -->
								<ul class="actions">
									<li><a href="data"  class="button alt">Learn More</a></li>
								</ul>
							</div>
					</article>
				</div>
			</section>
			<section id="two">
				<div class="inner">
					<article>
						<div class="content">
							<header>
								<h4>Machine Learning</h4>
							</header>
							<div class="6u"><span class="image fit"><img src= "images/buyers-checlist.jpg" alt="" /></span></div>
						<!--	<p>Here we will walk you through our project flow.</p> -->
							<ul class="actions">
								<li><a href="machine" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
					<article>
						<div class="content">
							<header>
								<h4>Tableau</h4>
							</header>
							<div class="6u"><span class="image fit"><img src= "images/common-investing-rules.jpg" alt="" /></span></div>
						<!--	<p>The mastermind behind the magic</p> -->
							<ul class="actions">
								<li><a href="tableau" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Three -->
		<section id="three" class="wrapper style1 special">
			<div class="inner">
				<header>
					<h2>Meet the Team</h2>
					<p>SMU Data Science Bootcamp - The Masterminds Behind the Magic</p>
				</header>
				<div class="flex flex-4">
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Nyarai.jpg" alt="Person 1" />
						</div>
						<h3>Nyarai</h3>
						<p>Aspiring Data Scientist</p>
					</div>
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Audelia.png" alt="Person 2" />
						</div>
						<h3>Audelia</h3>
						<p>Aspiring Data Scientist</p>
					</div>
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Cenez.png" alt="Person 3" />
						</div>
						<h3>Cenez</h3>
						<p>Aspiring Data Scientist</p>
					</div>
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Shane.jpg" alt="Person 4" />
						</div>
						<h3>Shane</h3>
						<p>Aspiring Data Scientist</p>
					</div>
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Monica.jpg" alt="Person 5" />
						</div>
						<h3>Monica</h3>
						<p>Aspiring Data Scientist</p>
					</div>
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Stephanie.jpg" alt="Person 6" />
						</div>
						<h3>Stephanie</h3>
						<p>Aspiring Data Scientist</p>
					</div>
				</div>
			</div>
		</section>



		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<div class=".copyright">
						&copy; Project Three - Team Five - SMU Bootcamp - Fall 2019 to Spring 2020
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>