<!DOCTYPE HTML>
<html>
	<head>
		<title>Real Estate Price Factors - SMU Bootcamp</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="/" class="logo">Home</a>
				<nav id="nav">
					<a href="process">Process Flow</a>
					<a href="data">Data Details</a>						
					<a href="machine">Machine Learning</a>
					<a href="tableau">Tableau</a>
				    <a href="calculator">Price Prediction</a>
				</nav>
			</div>
		</header>	
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1><b>Real Estate Insights:</b> <span>Home Sales and Price Drivers<br />
					in Collin County, Texas</span></h1>
				</div>
			</section>

<!-- One -->
<section id="one">
	<div class="inner">
		<header>
			<h2>Overview</h2>
		</header>
		<p>Welcome to our site! If you are a Realtor, prospective home buyer or prospective home seller, let us help you gain insight into a fair and realistic 
			price on a home in Collin County, TX.  
			We have collected 17 years of home sales from the Multiple Listing Service (MLS) for Collin county to help you better understand long-term marketplace
			trends to current market trends that will impact price and help you think about future.
			If you would like to learn more about a homes potential price feel free to input the homes attributes and features for these five Collin County Cities
			(Frisco, Fairview, Prosper, Plano, McKinney) into our Price Prediction tool.
			<ul class="actions">
				<li><a href="priceprediction.html" class="button alt">Price Prediction Tool - Get Started Here</a></li>
			</ul>
		</p>
		<br>
		<blockquote>“It’s going to be good. Affordability will be the theme of 2020, as first-time homebuyers flood the market
			seeking homes priced from $200,000 to $350,000. The price point will be the hottest segment of our market
			and will lead many homebuyers to surrounding counties where homebuilders can buy land for less.” 
			-- James Gaines, Chief Economist at the Texas A&M Real Estate Center
		</blockquote>
		<header>
			<h2>Conclusion</h2>
		</header>
		<p>In conclusion, we found via this project helped us understand key factors in real estate price drivers through the 
		   machine learning and via Tableau visualizations.  Through the Price Prediction Tool we are able to determine a
		   an estimated price to sell or purchase price. Key factors found via Machine Learning and utilized in the
		   Price Predictor tool.
		   <li>Original List Price (OLP)</li>
		   <li>Days on Market (DOM)</li>
		   <li>Postal Code</li>
		   <li>Square Feet</li>
		   <li>Year Built</li>
		   <li>Total Beds</li>
		   <li>Total Baths</li>
		   <li>Parking Spaces Garage</li>
		   <li>Pool</li>
		</p>
		<p>We looked at other features and delved deeper visually into these factors via Tableau that showed the team other interesting 
		   that a Seller or Buyer should think about.
		</p>
		<p>Occupancy plays a factor as well as Owner Occupied homes generally sold for higher prices and more per square foot as well 
		   than Vacant and Tenant Occupied.
		</p>
		<p>With DOM we found that for the five cities generally ~75% of the homes sold within 60 days of listing with a 1-2% variance 
		   from original list price for homes sold in 30 days and a 3-5% variance from homes sold in 31-60 days.  There was a trend where
		   the ratio between Original List Price (OLP) and Close Price (CP) grew larger as the DOM was longer with homes on the market greater 
		   210 had saw a 10-15% difference in OLP vs CP.
		</p>
		<p>We also looked at the inputs of attributes and features to have a more granular look into the data and how pricing behaves as 
		   attributes and features are changed.  These attribute and feature changes can help sellers and buyers better understand a
		   market and the impacts of various counts pertaining to Bedroom, Bathroom, Living Areas, Dining Areas, Stories, Garages, etc.  
		 </p>
		 <p>Lastly, we found this project was a great way to learn about real estate price factors and to educate Sellers and Buyers
			in an impactful way using Machine Learning and Data Visualization.
		 </p>
		</div>
</section>
		<!-- Two -->
			<section id="two">
			<!-- </section>class="wrapper style1 special"> -->
				<div class="inner">
					<article>
						<div class="content">
							<header>
								<h4>Price Prediction Tool</h4>
							</header>
								<div class="image fit">
									<a href="calculator" ><img src="../static/images/mortgage-lender.jpg" alt="" /></a>
								</div>
						</div>
						<div class="content">
							<header>
								<h4>Process Flow</h4>
							</header>
							<div class="image fit">
								<a href="process" ><img src= "../static/images/marketing.jpg" alt="" /></a>
							</div>
						</div>
							<div class="content">
								<!-- <header> -->
									<h4>Data Details</h4>
								<div class="image fit">
									<a href="data" ><img src= "../static/images/home-inspection.jpg" alt="" /></a>
								</div>
							</div>
							<div class="content">
								<h4>Machine Learning</h4>
							</header>
								<div class="image fit">
									<a href="machine" ><img src= "../static/images/buyers_checklist.jpg" alt="" /></a>
								</div>
							</div>
							<div class="content">
							<header>
								<h4>Tableau</h4>
							</header>
								<div class="image fit">
									<a href="tableau"><img src= "../static/images/common-investing-rules.jpg" alt="" /></a>
								</div>
							</div>
						</div>
					</article>
				</div>
			</section>

		<!-- Three -->
		<section id="three" class="wrapper style1 special">
			<div class="inner">
				<header>
					<h2>Meet the Team</h2>
					<p>SMU Data Science Bootcamp - The Masterminds Behind the Magic</p>
				</header>
				<div class="flex flex-4">
					<div class="box person">
						<div class="image round">
							<img src="../static/images/team_images/Nyarai.jpg" alt="Person 1" />
						</div>
						<h3>Nyarai Nhamoinesu</h3>
						<!-- <p>Aspiring Data Scientist</p> -->
					</div>
					<div class="box person">
						<div class="image round">
							<img src="../static/images/team_images/Audelia.png" alt="Person 2" />
						</div>
						<h3>Audelia Torres</h3>
						<!-- <p>Aspiring Data Scientist</p> -->
					</div>
					<div class="box person">
						<div class="image round">
							<img src="../static/images/team_images/Cenez.png" alt="Person 3" />
						</div>
						<h3>Cenez Tindoc</h3>
						<!-- <p>Aspiring Data Scientist</p> -->
					</div>
					<div class="box person">
						<div class="image round">
							<img src="../static/images/team_images/Shane.jpg" alt="Person 4" />
						</div>
						<h3>Shane Livingston</h3>
						<!-- <p>Aspiring Data Scientist</p> -->
					</div>
					<div class="box person">
						<div class="image round">
							<img src="../static/images/team_images/Monica.jpg" alt="Person 5" />
						</div>
						<h3>Monica Moussavi</h3>
						<!-- <p>Aspiring Data Scientist</p> -->
					</div>
					<div class="box person">
						<div class="image round">
							<img src="../static/images/team_images/Stephanie.jpg" alt="Person 6" />
						</div>
						<h3>Stephanie Smith</h3>
						<!-- <p>Aspiring Data Scientist</p> -->
					</div>
				</div>
			</div>
		</section>



		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<div class=".copyright">
						&copy; Project Three - Team Five - SMU Bootcamp - Fall 2019 to Spring 2020
						<br>
						&copy; Untitled. Design TEMPLATED. Images Unsplash.
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>