<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Machine Learning - SMU Bootcamp</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">Home</a>
					<nav id="nav">
						<a href="process">Process Flow</a>
						<a href="data">Data Details</a>						
						<a href="machine">Machine Learning</a>
						<a href="tableau">Tableau</a>
						<a href="calculator">Price Prediction</a>
					</nav>
					
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


		<!-- ML -->
		<section id="machineLearn">
			<div class="inner">
				<article>
					<div class="content">
						<header>
							<h3>Machine Learning with Pycaret</h3>
						</header>
						<p><b>After importing the data I quickly ran a df.info() to print a concise summary of the DataFrame to understand what information we are working with. Including the index dtype and column dtypes, non-null values and memory usage.</b></p>
						<div class="image">
							<img src="../static/images/ml_images/df.info.jpg" alt="" />
						</div>
						<p><b>The PyCaret setup is the first and main step to do any kind of machine learning experiment. The target is set equal to “ClosePrice” since that is the parameter we are trying to predict. </b></p>
						<div class="image">
							<img src="../static/images/ml_images/setup_ClosePrice.jpg" alt="" />
						</div>
						<p><b>The “compare_models()” on the caret package website lists variations of predictive analytics models that are available within the caret framework. It starts with the best model then gradually goes down in quality of what the best model for the data would be. All these models may be prepared, tuned, fit and evaluated with a common set of caret functions.</b></p>
						<div class="image">
							<img src="../static/images/ml_images/compare_models.jpg" alt="" />
						</div>
						<p><b>We “plot_model()” for the top few analytic models the “compare_models()” suggested and decided to go with Light GBM.</b></p>
						<div class="image">
							<img src="../static/images/ml_images/create_lgbm.jpg" alt="" />
						</div>
						<p><b>In this visual the select features in the dataset that contributes the most in predicting the target variable “ClosePrice” for the LightGBM model are shown. Working with selected features instead of all the features reduces the risk of over-fitting, improves accuracy, and decreases the training time.</b></p>
						<div class="image">
							<img src="../static/images/ml_images/imp_features.jpg" alt="" />
						</div>
						<p><b>This is the residual plot model of LightGBM.</b></p>
						<div class="image">
							<img src="../static/images/ml_images/plot_lgbm.jpg" alt="" />
						</div>
						</div>
						<!-- <p>Here is another visual</p> -->
						<!-- <ul class="actions">
							<li><a href="#" class="button alt">Learn More</a></li>
						</ul> -->
						<p>
						    <ul class="actions">
							    <li><a href="calculator" class="button alt">Price Prediction Tool - Get Started Here</a></li>
						    </ul>
					    </p>
					</div>
				</article>
				</section>
		<!-- Footer -->
		<section id="footer">
			<div class="inner">
				<div class=".copyright">
					&copy; Project Three - Team Five - SMU Bootcamp - Fall 2019 to Spring 2020
					<br>
					&copy; Untitled. Design TEMPLATED. Images Unsplash.
				</div>
			</div>
		</section>
		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

	</body>
</html>