<!DOCTYPE HTML>
<html>
	<head>
		<title>Process Flow - SMU Bootcamp</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="/" class="logo">Home</a>
				<nav id="nav">
					<a href="process">Process Flow</a>
					<a href="data">Data Details</a>
					<a href="machine">Machine Learning</a>
					<a href="tableau">Tableau</a>
				    <a href="calculator">Price Prediction</a>
				</nav>
			</div>
		</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- process -->
		<section id="processFlow">
			<div class="inner">
				<article>
					<div class="content">
						<header>
							<h3>Process Flow</h3>
						</header>
						<div class="image flow">
							<img src="../static/images/process_images/flowchart2.png" alt="" />
						</div>

						<div class="image fit">
							<img src="../static/images/process_images/processSlide.jpg" alt="" />
						</div>
				        <p>
						    <ul class="actions">
							    <li><a href="calculator" class="button alt">Price Prediction Tool - Get Started Here</a></li>
						    </ul>
					    </p>
					</div>
				</article>
				</div>
				</section>
		<!-- Footer -->
		<section id="footer">
			<div class="inner">
				<div class=".copyright">
					&copy; Project Three - Team Five - SMU Bootcamp - Fall 2019 to Spring 2020
					<br>
					&copy; Untitled. Design TEMPLATED. Images Unsplash.
				</div>
			</div>
		</section>

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

	</body>
</html>