<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Real Estate Price Factors</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index" class="logo">Home</a>
					<nav id="nav">
						<a href="overview.html">Overview</a>
						<a href="machine" class="nav-link">Machine Learning</a>
						<a href="tableau.html">Tableau</a>
						<a href="process.html">Process Flow</a>
						<a href="code" class="nav-link">Code</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Real Estate Insights: <span>Home Sales and Price Drivers<br />
					in Collin County, Texas</span></h1>
					<!-- <ul class="actions">
						<li><a href="#" class="button alt">Get Started</a></li>
					</ul> -->
				</div>
			</section>

		<!-- One -->
			<section id="one">
				<div class="inner">
					<header>
						<h2>Closing Price Calculator</h2>
					</header>
					<p>Welcome to our site! If you are a realtor, prospective home buyer, or prospective home seller, let us help you gain insight into a fair and realistic 
						closing price on a home in one of the 5 major areas of Collin County, TX. Take our Closing Price Calculator for a spin and get comfortable with closing that deal for a fair price! 
					</p>
					<ul class="actions">
						<li><a href="machine.html" class="button alt">Get Started</a></li>
					</ul>
				</div>
			</section>

		<!-- Two -->
			<section id="two">
				<div class="inner">
					<article>
						<div class="content">
							<header>
								<h3>The Process</h3>
							</header>
							<div class="image fit">
								<img src="images/flow.jpg" alt="" />
							</div>
							<p>Here we will walk you through our project flow.</p>
							<ul class="actions">
								<li><a href="process.html" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<header>
								<h3>The Code</h3>
							</header>
							<div class="image fit">
								<img src="images/code.jpg" alt="" />
							</div>
							<p>The mastermind behind the magic</p>
							<ul class="actions">
								<li><a href="Project_3_Team_5.html"  target="_blank" class="button alt">Learn More</a></li>
							
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Three -->
		<section id="three" class="wrapper style1 special">
			<div class="inner">
				<header>
					<h2>Meet the Team</h2>
					<p>SMU Data Science Bootcamp - The Masterminds Behind the Magic</p>
				</header>
				<div class="flex flex-4">
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Nyarai.jpg" alt="Person 1" />
						</div>
						<h3>Nyarai</h3>
						<p>Aspiring Data Scientist</p>
					</div>
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Audelia.png" alt="Person 2" />
						</div>
						<h3>Audelia</h3>
						<p>Aspiring Data Scientist</p>
					</div>
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Cenez.png" alt="Person 3" />
						</div>
						<h3>Cenez</h3>
						<p>Aspiring Data Scientist</p>
					</div>
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Shane.jpg" alt="Person 4" />
						</div>
						<h3>Shane</h3>
						<p>Aspiring Data Scientist</p>
					</div>
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Monica.jpg" alt="Person 5" />
						</div>
						<h3>Monica</h3>
						<p>Aspiring Data Scientist</p>
					</div>
					<div class="box person">
						<div class="image round">
							<img src="images/team_images/Stephanie.jpg" alt="Person 6" />
						</div>
						<h3>Stephanie</h3>
						<p>Aspiring Data Scientist</p>
					</div>
				</div>
			</div>
		</section>

		<!-- <section id="three">
				<div class="inner">
					<article>
						<div class="content">
							<span class="icon fa-laptop"></span>
							<header>
								<h3>Tempus Feugiat</h3>
							</header>
							<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna lorem ullamcorper laoreet, lectus arcu.</p>
							<!<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul> -->
						<!-- </div>
					</article>
					<article>
						<div class="content">
							<span class="icon fa-diamond"></span>
							<header>
								<h3>Aliquam Nulla</h3>
							</header>
							<p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
					<article>
					<div class="content">
							<span class="icon fa-laptop"></span> -->
							<!-- <header>
								<h3>Sed Magna</h3>
							</header>
							<p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
				</div>
			</section> -->

		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<!-- <header>
						<h2>Get in Touch</h2>
					</header>
					<form method="post" action="#">
						<div class="field half first">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6"></textarea>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="alt" /></li>
						</ul>
					</form> -->
					<div class="copyright">
						&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>